obj/project.assets.json
bin/Debug/netcoreapp2.0/AGprojekt_test.dll
bin/Debug/netcoreapp2.0/AGprojekt_test.pdb
bin/Debug/netcoreapp2.0/AGprojekt_test.deps.json
bin/Debug/netcoreapp2.0/AGprojekt_test.runtimeconfig.json
bin/Debug/netcoreapp2.0/AGprojekt_test.runtimeconfig.dev.json
obj/AGprojekt_test.csproj.nuget.cache
obj/AGprojekt_test.csproj.nuget.g.props
obj/Debug/netcoreapp2.0/AGprojekt_test.dll
obj/Debug/netcoreapp2.0/AGprojekt_test.pdb
obj/Debug/netcoreapp2.0/AGprojekt_test.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/AGprojekt_test.csproj.FileListAbsolute.txt
